<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">

    <title>Windows Store App Webite Template</title>

    <meta name="robots" content="index, nofollow">
    <meta name="description" content="Windows Store App Website Template" />
    <meta name="keywords" content="markedup, modern ui, modern-ui, metro, metroui, metro-ui, metro ui, windows 8, metro style, bootstrap, framework, web framework, css, html" />
    <meta name="author" content="Markedup" />

    <!-- remove or comment this line if you want to use the local fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/bootmetro-icons.css")">
    @Styles.Render("~/content/css/bootMetroCss")

    <!--[if IE 7]>
   <link rel="stylesheet" type="text/css" href="assets/css/bootmetro-icons-ie7.css">
   <![endif]-->

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/demo.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/scripts/google-code-prettify/prettify.css")">

    <!-- All JavaScript at the bottom, except for Modernizr and Respond.
      Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
      For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
    @Scripts.Render("~/scripts/modernizr")

</head>

<body>
    <!--[if lt IE 7]>
   <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
   <![endif]-->
    @RenderBody()

    <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>window.jQuery || document.write("<script src='@Url.Content("~/scripts/jquery-1.8.3.min.js")'>\x3C/script>")</script>

    <script type="text/javascript" src="@Url.Content("~/scripts/google-code-prettify/prettify.js")"></script>
    @Scripts.Render("~/scripts/bootMetroScript")

    @Html.Partial("AppBar/_appBarPartial") @* Customizeable Metro-style AppBar *@

    @Html.Partial("ThirdParty/_userVoiceScriptPartial") @* Customize this to include your own UserVoice (http://uservoice.com) system for managing customer feedback and support *@
    @Html.Partial("ThirdParty/_googleAnalyticsScriptPartial") @* Customize this to include your own Google Analytics tracking ID *@

     <script type="text/javascript">
         $("document").ready(function () {
             $('#bootFlipView').carousel({ interval: 3500 });
         });
    </script>
</body>
</html>
